<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head th:replace="layout :: head('Details')"></head>
<body>
    <div th:replace="layout :: nav"></div>
    <h1>Recipe Details</h1>
    <h2 th:text="${recipe.name}">Recipe Name</h2>
    <p th:text="${recipe.description}">Recipe Description</p>
    <p th:text="@{|Added by: ${recipe.username}|}">Recipe Username</p>
    <p th:text="@{|Date added: ${recipe.dateAdded}|}">Recipe Date Added</p>
    <form th:action="@{|/recipes/${recipe.id}/delete|}" method="post">
        <button type="submit">Delete</button>
    </form>
</body>
</html>