<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head th:replace="layout :: head('Details')"></head>
<body>
    <div th:replace="layout :: nav"></div>
    <h1>Category Details</h1>
    <h2 th:text="${category.name}">Category Name></h2>
    <div th:each="recipe : ${category.recipes}">
        <a th:href="@{|/recipes/${recipe.id}|}">
            <h3 th:text="${recipe.name}">Recipe Name</h3>
        </a>
    </div>
    <a th:href="@{|/categories/${category.id}/edit|}">Edit</a>
    <form th:action="@{|/categories/${category.id}/delete|}" method="post">
        <button type="submit">Delete</button>
    </form>
</body>
</html>